
#logo-booleaner {
    padding-right: 100%;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    width: 20%;
    height: 140px;
    background-color: aqua;
}

#intestazione{
    margin: 0;
    font-size: 22pt;
}

#sottointestazione{
    margin-bottom: 3%;
    color: gray;
    font-size: 12pt;
}

#link-autori{
    color: lightblue;
}

.crediti-foto{
    font-size: 8pt;
}

.text-evidenziato{
    display: inline-block;
    background-color: yellow;
} 

.colonna-1{
    padding: 15px;
}

.colonna-2{
    padding: 15px;
}

.colonna-3{
    padding-right: 20px;
}

thead{
    color: white;
    background-color: skyblue;
}

.with-background{
    background-color: lightcyan;
}

#testo-lorem-2{
    margin-top: 2%;
}

dd{
    margin-top: 2%;
    margin-left: 0;
    color: grey;
}

#image-back-end-1{
    display: block;
    background-repeat: no-repeat;
    padding-bottom: 300px;
    padding-right: 200px;
    color: white;
    background-image: url(/Users/mohamedslima/Boolean/repo-html-css-booleaner/img/monitor.jpg);
}

#image-back-end-2{
    display: block;
    background-repeat: no-repeat;
    padding-bottom: 300px;
    padding-right: 200px;
    color: white;
    background-image: url(/Users/mohamedslima/Boolean/repo-html-css-booleaner/img/graph.jpg);
}